.myinfo {
    width: 200px;
    height: 400px;
    background-color: aqua;
    /*center of screen*/
    position: absolute;
    top: 50%;
    bottom : 50%;
    left: 50%;
    right: 50%;
    margin-top: -200px; /* half of height */
    margin-left: -100px; /* half of width */
}
.mystyle{
    color:rgb(72, 71, 46);
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.photo {
    width: 100px;
    height: 100px;
    right : 50%;
    left : 50%;
    position: relative;
    left : 20%;
    border: 2px solid black;
}